html {
}

body {
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 361px;
  background-image: url('../images/android.png');
}

.bellytext {
  position: relative;
  top: 128px;
  left: 55px;
  width: 190px;
  height: 157px;

  font-weight: bold;
  color: white;

  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px; 
}
