!!!xml
!!!
%html
  %head
    %title android.coderjoe.net
    = stylesheet_link_tag "android"
  %body
    .content
      = yield
    .attribution
      Portions of this page are modifications based on work created and 
      #{link_to 'shared by Google', "http://code.google.com/policies.html"}
      and used according to terms described in the 
      #{link_to 'Creative Commons 3.0 Attribution License', "http://creativecommons.org/licenses/by/3.0/"}.
